body{
    background-color: rgb(255, 194, 27);
}
h1{
   text-align: center; 
   font-family: 'Courier New', Courier, monospace;
   font-size: 3cm;
   color: rgb(255, 255, 255);
}
main{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2{
    text-align: center;
    font-family: cursive;
}
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

